<!--
  Generated template for the ItemDetailPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>{{item.name}} Detail</ion-title>
</ion-navbar>

<ion-content padding class="item-detail">
   {{item|json}}
</ion-content>
