<!--
  Generated template for the StorePagePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>storePage welcome</ion-title>
  <ion-buttons end>
    <button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button>
  </ion-buttons>
</ion-navbar>

<ion-content padding class="store-page">





  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Form Builder Example</ion-title>
  </ion-navbar>
  <ion-content padding class="getting-started">
    <p>
      Store Form
    </p>

    <ion-list inset>
      <form [ngFormModel]="myForm" (ngSubmit)="onSubmit(myForm.value)">
        <ion-item>
          <ion-label floating>storeOwner</ion-label>
          <ion-input type="text" [ngFormControl]="myForm.controls['storeOwner']"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>logoUrl</ion-label>
          <ion-input type="text" [ngFormControl]="myForm.controls['logoUrl']"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>phone</ion-label>
          <ion-input type="text" [ngFormControl]="myForm.controls['phone']"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>city</ion-label>
          <ion-input type="text" [ngFormControl]="myForm.controls['address.city']"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>zipCode</ion-label>
          <ion-input type="text" [ngFormControl]="myForm.controls['address.zipCode']"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>lat</ion-label>
          <ion-input type="text" [ngFormControl]="myForm.controls['address.lat']"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>long</ion-label>
          <ion-input type="text" [ngFormControl]="myForm.controls['address.long']"></ion-input>
        </ion-item>






        <button block>
          <ion-icon name="add"></ion-icon>Add</button>
      </form>
    </ion-list>
    <!-- Angular 2 way of doing <p ngShow="myData"> bla bla </p> -->
    <div class="map">
      here is the map
      <div id="map" style="height: 600px"></div>
    </div>

  </ion-content>



  <div> ------------ Data ---------------- </div>

  <div *ngFor="let x of myData_array"> {{x | json }}  <br></div>

</ion-content>
