.store-page {

  .map  {
    background: rgb(229, 227, 223);
    display: block;
  }

  .map #map {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 150ms ease-in
  }

  .map #map.show-map {
    opacity: 1;
    display: block;
  }

}
