<!--
  Generated template for the CategoryPagePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>categoryPage</ion-title>
</ion-navbar>

<ion-content padding class="category-page">


  <div> Items list of {{category}}</div>
  <div *ngFor="let item of categoryItems">
    <div><label> <button  (click)="displayItemPage(item)"> display</button> </label> {{item | json}} </div>
    <br>
  </div>


</ion-content>
