<ion-navbar *navbar>
  <ion-title>Home</ion-title>
</ion-navbar>

<ion-content padding class="page1">
  <h2>Jewelary Categories</h2>





  <div *ngFor="let category of categories">
    {{categorie}} : <button  (click)="goToCategoyPage(category)">  {{category}}  </button>
  </div>

  <!--<button (click)="goToFactsPage()">Scientific Facts</button>-->

  <div>--------------------------------------------</div>
  <button (click)="goToStorePage()"> goToStorePage </button>

</ion-content>
